{
  "blank": {
    "src": "vendor/snowdog/theme-blank-sass",
    "dest": "pub/static/frontend/Snowdog/blank",
    "locale": ["en_GB"],
    "ignore": [".test"]
  },
  "sample ": {
    "src": "vendor/gene/theme-frontend-sample ",
    "dest": "pub/static/frontend/Gene/sample ",
    "locale": ["en_GB"],
    "disableSuffix": true,
    "postcss": ["plugins.autoprefixer({browsers: ['last 2 versions', '> 5%', 'ie 11'] })", "plugins.postcssRemoveNull"],
    "parent": "blank"
  }
}
